<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "House" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="antialiased px-4">
    <div class="relative z-10 flex max-w-2xl mx-auto gap-4 justify-between">
      <div class="flex gap-8">
        <.link
          href={~p"/"}
          class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
        >
          PhxHouse
        </.link>
        <%= if @current_user do %>
          <.link
            href={~p"/warehouses"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            <%= gettext("Warehouses") %>
          </.link>
        <% end %>
      </div>
      <%= if @current_user do %>
        <div class="text-[0.8125rem] leading-6 text-zinc-900">
          <%= @current_user.email %>
          (<%= gettext "locale" %>:
          <%= @current_user.locale %>)
        </div>
        <div class="flex gap-8">
          <.link
            href={~p"/users/settings"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            <%= gettext("Settings") %>
          </.link>
          <.link
            href={~p"/users/log_out"}
            method="delete"
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            <%= gettext("Log out") %>
          </.link>
        </div>
      <% else %>
        <div class="flex gap-8">
          <.link
            href={~p"/users/register"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            <%= gettext("Register") %>
          </.link>
          <.link
            href={~p"/users/log_in"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            <%= gettext("Log in") %>
          </.link>
        </div>
      <% end %>
    </div>
    <%= @inner_content %>
  </body>
</html>
